$mainVars: (
    "font": "proxima-nova",
    "background": black,
    "color": white
);

$colorVars: (
    "gradient": linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7),
);

$chatboxVars: (
    "background": black
);